<a href="https://colab.research.google.com/github/IvoneForero/MDigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**

Para manejar un código limpio en Python:
Podemos seguir las siguientes recomendaciones:


1.   Manejar siempre minusculas
2.   Se le pueden añadir números.
3.   Aparecera error si no estan seguidos la declaración de la variable con el número asignado. Ejemplo:
ana1(correcto) ana 1 (incorrecto-error). 

En python hay varios tipos de datos compuestos y están disponibles por defecto en los intérpretes.

**¿De que tipos?**
 1. Númericos
 2. Secuencias
 3. Mapeos
 4. Conjuntos usados para agrupar otros valores.

 ** Diferencias entre constantes y variables**
En mátematicas llamamos constante a una magnitud que no cambia con el paso del tiempo.
 Ejemplo: Contabilidad: Gastos fijos_Muebles de oficina
 Ejemplo 2: 6

 Por otro lado, el concepto de variables, como la cantidad que ess susceptible a tomar distintos valores númericos.

 **Ejemplo**

In [ ]:
x=80
print(x)

80

**  Tipos de datos**

**Enteros**


*   Son los números que no tiene decimales
*   Puedens ser positivos y negativos

In [ ]:
a=int(3.964)
print(a)

3

El comando int es para hacer alusión a numeros enteros. A pate del comando float, permite valores con decimales.

In [ ]:
b=float(8.23)
print(b)

8.23

**Tipoo cadena**

Las cadenas son texto encerrado entre comillas (simples o dobles) y se pueden conformar de direntes caracteres (Númericos, Alfabéticos, Especiales #$+*%).
Tener en cuenta, las cadenas admiten operadores como la suma y la resta. (Variable String)

In [ ]:
val2="Hola mundo"
print(val2)
val1="Luisa"
print(val1)

Hola mundo
Luisa

In [ ]:
n="Aprender"
z="Python"
print(n,z)

Aprender Python

**Tipo Booleanos**

Este tipo de variables solo tendrá un valor de Verdadero o Falso.

**Nota**
Son valores muy usados en condiciones y bucles.

In [ ]:
lola=True
print ("El valor es verdadero",lola,",el caul es de tipo", type(lola))

El valor es verdadero True ,el caul es de tipo <class 'bool'>

Python cuenta con tipos de datos quer admiten colecciones:
1. Listas
2. Tuplas
3. Direcciones

In [ ]:
fru= 'pera','manzana','naranja'
color= 'morado','blanco','azul'
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipos de listas**

Las listas almacenan vectores.
Las listas siempre empiezan a nombrarse desde el elemento (0) A partir de allí empieza el conteo. 
Ejemplo de listas en python:

In [ ]:
ines=['5','uva','lila','perro']
print(ines)
fe=ines[1:2]
print(fe)

['5', 'uva', 'lila', 'perro']
['uva']

**Tipo Tuplas**

Es una lista que no se puede modificar después de la creacion de esta:
Tuplas anidadas: Agrupación(Tuplas)

In [ ]:
tupla=23,28,'hola'
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hola')
((23, 28, 'hola'), (1, 2, 3, 4))

**Tipo diccionarios**

Define los datos uno a uno entre un campo (Id - identificador - Clave) y un valor:

In [ ]:
datos_b={
    "nombres":"Diana",
    "apellido":"Perea",
    "cedula":"2345671",
    "est_civil":"Viuda",
    "lugar_nacimiento":"Neiva",
    "fecha_nacimiento":"24/12/1980"
}
print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())

ID del diccionario dict_keys(['nombres', 'apellido', 'cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Diana', 'Perea', '2345671', 'Viuda', 'Neiva', '24/12/1980'])
ID del diccionario dict_items([('nombres', 'Diana'), ('apellido', 'Perea'), ('cedula', '2345671'), ('est_civil', 'Viuda'), ('lugar_nacimiento', 'Neiva'), ('fecha_nacimiento', '24/12/1980')])

Ejemplo práctico (Caracteristicas de los carros)

In [ ]:
carros_0={}
carros_0['tam']='grande'
carros_0['color']='negro'
carros_0['marca']='Renault'
carros_0['precio']=60

carros_1={}
carros_1['tam']='Pequeño'
carros_1['color']='blanco'
carros_1['marca']='Chevrolet'
carros_1['precio']=37

print(carros_0)
print(carros_1)
compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal=compra0+compra1

print ("La compra total fue de:",compratotal)

{'tam': 'grande', 'color': 'negro', 'marca': 'Renault', 'precio': 60}
{'tam': 'Pequeño', 'color': 'blanco', 'marca': 'Chevrolet', 'precio': 37}
La compra total fue de: 97