<a href="https://colab.research.google.com/github/IvoneForero/MDigitales/blob/main/Clase9_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

17/agosto/2021

# **Libreria Pandas**

Para poder entender Pandas se requiere conocer dos tipos de estructuras:

1. Series
2. DataFrame (conjunto de columnas o conjunto de series.
3. Panel


Las estructuras mas comunes son **Series y DataFrame**

## **Series**

---


Se usan para modelar estructuras  **1D** similares a las listas en Python aunque tienen mayor número de bits, incluyendo indice y nombre.

Pueden albergar strings, floats, booleans.

![series.png]()

In [13]:
import pandas as pd

In [14]:
pd.Series([145,142,13])#con el *.Series* le indicamos que vamos a crear una serie.

0    145
1    142
2     13
dtype: int64

In [15]:
pd.Series(['a','b','c'])

0    a
1    b
2    c
dtype: object

In [16]:
david = pd.Series([145,142,38,13],name= 'counts') 
print(type(david))
david

<class 'pandas.core.series.Series'>

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [17]:
print(david.index)

RangeIndex(start=0, stop=4, step=1)

In [18]:
print(david.values)

[145 142  38  13]

In [19]:
print(type(david.values))

<class 'numpy.ndarray'>

In [20]:
# El indice no necesariamente tiene que ser un número.
david3 = pd.Series([145,142,38,13],name='counts',\
                   index=['Juan','Pedro','Sofia','Andrea'])
print(david3)
print('   ')
print(david3.values)
print('   ')
print(david3.index)

Juan      145
Pedro     142
Sofia      38
Andrea     13
Name: counts, dtype: int64

[145 142  38  13]

Index(['Juan', 'Pedro', 'Sofia', 'Andrea'], dtype='object')

In [43]:
david3[['Andrea','Juan']] #Traemos valores de la lista anterior.

Andrea     13
Juan      145
Name: counts, dtype: int64

**Tambien puede albergar diferentes Objetos**

In [29]:
class J:
  pass
pedro = pd.Series(['David','Fran',13, J()],\
                   name='JJ')
pedro

0                                    David
1                                     Fran
2                                       13
3    <__main__.J object at 0x7ff9ee874d90>
Name: JJ, dtype: object

Y que hay de los nulos

In [21]:
nan_ser = pd.Series([2, None],index=['0','c'])
print(nan_ser)
'''
Fijarse que aparece float y es porqe los NAN solo se pueden estar en este tipo de dato'''
nan_ser.count()

0    2.0
c    NaN
dtype: float64

1

Para sacar series lo podemos hacer de diferentes maneras:

Ejemplo:

In [31]:
num_impa = pd.Series([1,3,5,7,9,11,13,15]) #por fecto pone los index de uno en uno
print(num_impa)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [50]:
num_impa[2:5] #traigo los valos del 2 al 5 con el index

c    5
d    7
e    9
dtype: int64

In [47]:
print(num_impa[2:5])
print(cindys['1968'])

c    5
d    7
e    9
dtype: int64

In [36]:
pd.Series([1,3,5,7,9,11,13,15]) #sin varibale y sin print tambien nos imprime los valores y tamb

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [35]:
num_impa = pd.Series([1,3,5,7,9,11,13,15], index=['a','b','c','d','e','f','g','h']) #aquí nosotros nombramos los index
print(num_impa)

a     1
b     3
c     5
d     7
e     9
f    11
g    13
h    15
dtype: int64

In [34]:
num_impa = pd.Series(range(1,16,2), index=['a','b','c','d','e','f','g','h']) #aquí ponemos un rango para no nombrar uno por uno los valores
print(num_impa)

a     1
b     3
c     5
d     7
e     9
f    11
g    13
h    15
dtype: int64

El objeto **Series** es mucho mas rapido, consume menos memoria y tiene mas metodos que una lista.

También tiene muchas similitudes con **Numpy array**.

# Proceso CLAB(Creación, Lectura, Actualización, Borrado)

**1. Creación**

In [39]:
cindys = pd.Series([10,7,1,22],\
                   index=['1968','1969','1970','1970'],\
                   name='Per')
print(cindys)
print('   ')
#Que hay si necesito guardar multiples entradas en mi serie?
g2 = pd.Series({'1969':7,'1970':[1,22]},index=['1969','1970','1970'])
print(g2)

1968    10
1969     7
1970     1
1970    22
Name: Per, dtype: int64

1969          7
1970    [1, 22]
1970    [1, 22]
dtype: object

In [44]:
g2['1970'] # como hay dos valores iguales, me trae los dos

1970    [1, 22]
1970    [1, 22]
dtype: object

**2. Lectura**

In [40]:
print(cindys['1968']) #Llamo un solo valor din el index de las lista anterior *cyndys*

10

Procesos iterativos

In [41]:
for i in cindys:
  print(i)

10
7
1
22

In [ ]:
impares_dos=pd.Series(range(1,16,2))
print(impares_dos)
impares_dos[2:5]

In [ ]:
fechas_nac =pd.to_datetime(pd.Series(['02-26-1993', '01/05/1968','10/26/1970'],index=['yo','mamá','papá']))
fechas_nac